<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>svg图标使用</title>
</head>
<body>
    <div>
        <!-- <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-008-tuihuo"></use>
        </svg> -->
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-global"></use>
        </svg>
    </div>
    
   
    <style>
        .icon {width: 450px; height: 450px;}
    </style>
    <!-- <script src="//at.alicdn.com/t/font_2234828_qema01fxl7.js"></script> -->
    <script src="//at.alicdn.com/t/font_980535_svuq8o6hlo.js"></script>
</body>
</html>